body{
    text-align: center;
    background-color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: mintcream;
}

.box {
    display: block;
    align-items: center;
    margin: auto;
    width: 80%;
    max-width: 600px;
    height: 450px;
    background-color: #b0b89b;
}

h1{
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

.welcomePicture{
    width: 70%;
}

.botton{
    display: inline-block;
    margin: 10px;
    width: 130px;
    font-size: 18px;
    padding: 15px 30px;
    color: yellow;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
}
.botton:hover{
    background-color: yellow;
    color: black;
}
