*{
    margin: 0;
}

.all-screen-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.header{
    display: block;
    text-align: center;
    background-color: lightsalmon;
}

.header-button-box{
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 30px;
    padding: 0;
}

.content-container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-content: flex-start;
    background-color: lightsalmon;
}

.content-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.footer {
    display: block;
    background-color: yellow;
}

.footer > p {
    font-size: 20px;
    padding: 25px;
}

.welcomePicture{
    display: block;
    margin: 0;
    padding: 20px;
    width: 80%;
}

.form_new_players{
    display: inline-block;
    align-items: center;
}

.form_new_players label{
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
}

.form_new_players input{
    display: block;
    margin-top: 10px;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}

.form_new_players button{
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 7px;
    border-width: 3px;
}
   /*----------   match-score   ----------*/

.output{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 130px;
    color: black;
    font-size: 20px;
}

/*   ----------   BUTTONS   ----------   */

[class^="button-"]{
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 7px;
    border-width: 2px;
}

[class^="button-"]:hover {
    color: black;
    background-color: yellow;
}

.button-form-small{
    width: 40px;
    height: 35px;
    margin: 10px;
    border-radius: 7px;
    border-color: black;
    background-color: black;
    color: yellow;
}

.button-form-large{
    text-align: center;
    width: 120px;
    height: 35px;
    margin: 15px;
    border-radius: 10px;
    border-color: black;
    background-color: black;
    color: yellow;
}

.button-link {
    margin: 15px;
    width: 130px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: yellow;
    background-color: black;
}

.box-buttons{
    display: flex;
    justify-content: space-between;
}

/*   ---------- TABLES   ----------   */

.box-table-score {
    display: flex;
    justify-content: center;
    align-content: center;
}

.table-scoreboard{
    width: 250px;
    height: 250px;
}

.table-scoreboard th{
    height: 50px;
    border-radius: 25px;
}

.table-scoreboard td{
    border-radius: 35px;
    height: 50px;
    width: 50px;
}

.player-1{
    background-color: #8788f1;
}
.player-2{
    background-color: #f17471;
}

.search-match{
    width: 250px;
    font-size: 20px;
}

.table-matches{
    width: 100%;
    border-collapse: collapse ;
    border: 2px solid black;
}

.table-matches th {
    height: 35px;
    border: 2px solid black;
}
.table-matches  td {
    height: 35px;
    border: 1px solid black;
}

.page-box {
    display:flex;
    align-items: center;
}

.title-start-page {
    margin-top: 80px;
}

.form-page {
    width: 50px;
    height: 25px;
}